container_commands:
  01_syncdb:
    command: "python manage.py syncdb"
    leader_only: true
  02_createadmin:
    command: "scripts/createadmin.py"
    leader_only: true

option_settings:
    - namespace: aws:elasticbeanstalk:container:python
      option_name: WSGIPathg
      value: brikout_v1/wsgi.py
    - namespace: aws:elasticbeanstalk:container:python:staticfiles
      option_name: /static/
      value: static/
    - option_name: DJANGO_SETTINGS_MODULE
      value: brikout_v1.settings
    - option_name: AWS_SECRET_KEY
      value: JJWnF51x9yBpPRHv6UkMOUpt4tQgV47n9TIoR1R7
    - option_name: AWS_ACCESS_KEY_ID
      value: AKIAIQDYJMRPKKI5N5TA