<br>
<sub>
	Created by Steven Rogers - Fall 2013<br>
	<a href="http://github.com/stevenr4">Git</a> <a href="mailto:stevenr180@gmail.com">Email</a> <a href="http://www.linkedin.com/pub/steven-rogers/89/21/6b1">Linkedin</a><br>
	This site's source is on <a href="https://github.com/stevenr4/brikout">github, check it out</a>
</sub>